.full {
    background-color:rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px;
    margin: 25px 15px;
    border-radius:5px ;
}
h1{
    text-align: center;
}
textarea,
input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=password],
fieldset,select
{
    border: 1px solid rgb(175, 169, 169);
    border-radius: 5px;
    width: 100%;
    padding: 12px 5px;
    margin: 10px 7px 0px -3px;
}
input[type=submit]{
    width: 100%;
    margin: 10px 7px 0px -3px;
    padding: 7px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(112, 192, 192);
}
